@import '../sass/common.scss';

.container{
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
}

@media (max-width:900px){

    .container{
        padding: 80px 40px;
    }

}

/* header */

header{
    padding: 50px;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff; 
}

.header-title{
    font-size: 20px;
}

.header-list{
    display: flex;
    gap: 0 20px;
} 

.sp-only{
    display: none;
}

@media (max-width:900px){

    .drawer-btn span{
        display: block;
        background-color: #000;
        width: 40px;
        height: 4px;
        margin: 8px 0;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
        }
    }

    .drawer-menu{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #000;
        opacity: 0.7;
        text-align: center;
        z-index: -1;
        li{
            margin: 120px 0;
            font-size: 30px;
            font-weight: 700;
        }
    }

    .drawer-menu.show{
        display: block;
    }

    .pc-only{
        display: none;
    }

    .sp-only{
        display: block;
    }

}

// main

main{
    max-width: 100%;
    margin: 100px auto;
    .page-title{
        margin-bottom: 45px;
    }
    .furniture-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px 0;
        .furniture-item{
            width: 23%;
            .image{
                width: 100%;
                object-fit: cover;
                opacity: 0;
                transition: 2s;
            }
            .image.fadeIn{
                opacity: 1;
            }
            .product-title{
                margin-top: 10px;
            }
        }
    }
    .link-text{
        text-align: center;
        margin: 80px 0 160px;
    }
}

@media (max-width:900px){

    main{
        margin: 60px auto;
    }

    .furniture-item{
        width: 48%;
    }

}

/* footer */

footer{
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    .sns{
        display: flex;
        gap: 0 20px;
        i{
            margin-right: 5px;
        }
    }
    .copy-right{
        font-size: 8px;
    }
}

@media (max-width:900px){

    footer{
        flex-direction: column;
        .copy-right{
            margin-top: 10px;
        }
    }

}